h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: burlywood;
}
p::selection{
    color:rgb(5, 53, 10);
    background-color:green ;
}
#fruit li::before{
    content:"✔️";
}
#apple::after{
    content:"🍎"

}
#orange::after{
    content:"🍊"

}
#banana::after{
    content:"🍌"

}
#fruit li::marker{
    content:"✅";
    font-size: 2em;
}