body{
    background-image: url(as.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
}
h1{
    color: grey;
}
p{
    color: grey;
}