#box1{
    height: 200px;
    width: 200px;
    background-color: rgb(169, 129, 26);
    position: sticky ;
    top: 0px;
    
   

}
#box2{
    height: 100px;
    width: 100px;
    background-color: rgb(54, 138, 207);
    position: static  ;
    top: 50px;
    left: 50px;
   

}