.container{
    display: flex;
    border:10px solid black;
    height: 90vh;
    /* align-items: center; */
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1em;
    row-gap: 3em;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;

}
#box1{
    
    background-color: cadetblue ;
    /* align-self:flex-end; */
}
#box2{
    /* order: -1; */
    /* align-self: ; */
    background-color: rgb(172, 28, 208) ;
}
#box3{
    background-color: rgb(55, 47, 204) ;

}
#box4{
    background-color: rgb(36, 207, 173) ;
}